
HomeTask/\.vs/

HomeTask/Week/bin/

HomeTask/Table/bin/

HomeTask/Week/obj/

HomeTask/Table/obj/

CarPark/\.vs/

CarPark/CarPark/bin/

CarPark/CarPark/obj/

WorkWithFiles/\.vs/

WorkWithFiles/WorkWithFiles/bin/

WorkWithFiles/WorkWithFiles/obj/
